[Desktop Entry]
Encoding=UTF-8
Name=MARTEX
Comment=MARTEX P2P Cryptocurrency
Comment[fr]=MARTEX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MARTEX, eşten eşe kriptografik sanal para birimi
Exec=martex-qt %u
Terminal=false
Type=Application
Icon=martex128
MimeType=x-scheme-handler/martex;
Categories=Office;Finance;
